<form class="form" [formGroup]="authForm">
    <img class="logo" src="/assets/tsconfig.jpeg" alt="Catalog Logo">
    <h3 class="title">Please log-in to your account.</h3>

    <mat-form-field class="control email">
        <input matInput
               re2e="login-component-email"
               formControlName="email"
               type="email"
               placeholder="Enter your email">

        <!--<mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')"-->
                   <!--re2e="e2eWrongEmailError">-->
            <!--Please enter a valid email address-->
        <!--</mat-error>-->

        <!--<mat-error *ngIf="form.controls['email'].hasError('required')" re2e="e2eEmptyEmailError">-->
            <!--Email is <strong>required</strong>-->
        <!--</mat-error>-->
    </mat-form-field>

    <mat-form-field class="control password">
        <input matInput
               re2e="login-component-password"
               formControlName="password"
               type="password"
               placeholder="Enter your password">

        <!--<mat-error-->
            <!--*ngIf="form.controls['password'].hasError('required')" re2e="e2eEmptyPasswordError">-->
            <!--Password is <strong>required</strong>-->
        <!--</mat-error>-->
    </mat-form-field>

    <button class="btn sign-in" mat-flat-button color="primary" type="submit" (click)="submit()"
            re2e="login-component-submit">
        Sign In
    </button>
</form>
